<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.seta.servlet.Login</servlet-class>
        <multipart-config>
            <max-file-size>10485760</max-file-size>
            <max-request-size>20971520</max-request-size>
            <file-size-threshold>5242880</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>OperazioniGeneral</servlet-name>
        <servlet-class>com.seta.servlet.OperazioniGeneral</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OperazioniSA</servlet-name>
        <servlet-class>com.seta.servlet.OperazioniSA</servlet-class>
        <multipart-config>
            <max-file-size>10485760</max-file-size>
            <max-request-size>20971520</max-request-size>
            <file-size-threshold>5242880</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>QueryMicro</servlet-name>
        <servlet-class>com.seta.servlet.QueryMicro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OperazioniMicro</servlet-name>
        <servlet-class>com.seta.servlet.OperazioniMicro</servlet-class>
        <multipart-config>
            <max-file-size>10485760</max-file-size>
            <max-request-size>20971520</max-request-size>
            <file-size-threshold>5242880</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>QuerySA</servlet-name>
        <servlet-class>com.seta.servlet.QuerySA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExternalLogin</servlet-name>
        <servlet-class>com.seta.servlet.ExternalLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OperazioniGeneral</servlet-name>
        <url-pattern>/OperazioniGeneral</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OperazioniSA</servlet-name>
        <url-pattern>/OperazioniSA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryMicro</servlet-name>
        <url-pattern>/QueryMicro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OperazioniMicro</servlet-name>
        <url-pattern>/OperazioniMicro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuerySA</servlet-name>
        <url-pattern>/QuerySA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExternalLogin</servlet-name>
        <url-pattern>/ExternalLogin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/500.jsp</location>
    </error-page>
</web-app>
